*{
    padding: 0;
    margin: 0;
}

ol,ul{
    list-style: none;
}

img{
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    width: 1160px;
    margin: 0 auto;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}